<!--
<button mat-button (click)="showCard()">SHOW CARD</button>

<app-joke-card *appDuplicate="[false, true]"  [title]="cardTitle" (likeClicked)="buttonClicked($event)"></app-joke-card>

<ng-container [ngSwitch]="counter">
  <p *ngSwitchCase="0">No jokes</p>

<app-joke-card *ngSwitchCase="1" [title]="cardTitle" (likeClicked)="buttonClicked($event)"></app-joke-card>

  <ng-container *ngSwitchDefault>
    <p *ngFor="let joke of jokeArray">
      {{ joke }}
    </p>
  </ng-container>
</ng-container>
 -->
<mat-toolbar color="primary">
  <button mat-raised-button color="accent">Home</button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="form">FORM</button>
  <button mat-raised-button color="accent" routerLink="category/food">Category FOOD</button>
  <button mat-raised-button color="accent" routerLink="category/history" [queryParams]="{sort: 'ASC'}">Category HISTORY</button>
  <button mat-raised-button color="accent"routerLink="random">Random</button>
  <button mat-raised-button color="accent"routerLink="details">Details</button>
</mat-toolbar>
<router-outlet></router-outlet>
